*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #app {
    min-height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #fffaf5;
}

body {
    min-height: 100vh;
}

.page
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}